<!--             
            <form class="form1" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
                <br><br>
                <textarea type="text" formControlName="mensaje" class="textareaRespuesta"></textarea>
                <button type="submit" class="left btnEstandar">Enviar Respuesta</button>
            </form>


    <br>
    <textarea type="text"  class="textareaRespuesta"></textarea>
    <button type="submit" class="left btnEstandar">Enviar Respuesta</button>

            <br>

            <div class="respuesta">
                <p class="parrafo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod scelerisque erat tincidunt hendrerit. Cras lobortis id diam sit amet consectetur. Suspendisse non pulvinar justo, ac commodo velit. Quisque maximus dolor ac magna molestie, sit amet commodo velit congue. Maecenas non dolor ut elit malesuada 
                </p>
            </div> -->
